#masthead {
  background-color: #000;
}
.hero {
  background-color: #333444;
}
body {
  background-color: #fefefe;
}
@-moz-keyframes fly-into-sun {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  12% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fly-into-sun {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  12% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fly-into-sun {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  12% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes woo {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@-webkit-keyframes woo {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@keyframes woo {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@-moz-keyframes woo-alt {
  0% {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  40% {
    -webkit-transform: rotate(235deg);
    -moz-transform: rotate(235deg);
    -ms-transform: rotate(235deg);
    -o-transform: rotate(235deg);
    transform: rotate(235deg);
  }
  100% {
    -webkit-transform: rotate(235deg);
    -moz-transform: rotate(235deg);
    -ms-transform: rotate(235deg);
    -o-transform: rotate(235deg);
    transform: rotate(235deg);
  }
}
@-webkit-keyframes woo-alt {
  0% {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  40% {
    -webkit-transform: rotate(235deg);
    -moz-transform: rotate(235deg);
    -ms-transform: rotate(235deg);
    -o-transform: rotate(235deg);
    transform: rotate(235deg);
  }
  100% {
    -webkit-transform: rotate(235deg);
    -moz-transform: rotate(235deg);
    -ms-transform: rotate(235deg);
    -o-transform: rotate(235deg);
    transform: rotate(235deg);
  }
}
@keyframes woo-alt {
  0% {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  40% {
    -webkit-transform: rotate(235deg);
    -moz-transform: rotate(235deg);
    -ms-transform: rotate(235deg);
    -o-transform: rotate(235deg);
    transform: rotate(235deg);
  }
  100% {
    -webkit-transform: rotate(235deg);
    -moz-transform: rotate(235deg);
    -ms-transform: rotate(235deg);
    -o-transform: rotate(235deg);
    transform: rotate(235deg);
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.87);
}
.navbar-nav {
  vertical-align: middle;
}
.navbar-nav .nav-link {
  vertical-align: middle;
  display: inline-block;
  float: none;
}
.navbar-nav .nav-link.github {
  float: right;
  position: relative;
  top: 0px;
}
.navbar-nav .nav-link.github .fa {
  position: relative;
  left: -4px;
}
.navbar-brand {
  float: none;
}
.masthead {
  text-align: center;
  height: 40vh;
  margin-bottom: 40px;
  min-height: 300px;
  background-color: #333444;
  background: -webkit-gradient(linear, left top, left bottom, from(#333444), to(#1d1e27));
  background: -webkit-linear-gradient(top, #333444, #1d1e27);
  background: -moz-linear-gradient(top, #333444, #1d1e27);
  background: -ms-linear-gradient(top, #333444, #1d1e27);
  background: -o-linear-gradient(top, #333444, #1d1e27);
  color: rgba(255, 255, 255, 0.87);
}
.masthead .container {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.masthead .container .mast-card {
  display: inline-block;
  border: solid 4px rgba(255, 255, 255, 0.87);
  border-radius: 10px;
}
.masthead .container .text {
  padding: 15px;
  display: inline-block;
}
.masthead .container .text + pre {
  margin-top: 0;
}
.masthead .container pre {
  background-color: rgba(255, 255, 255, 0.87);
  color: #333444;
  padding: 16px;
  margin-top: 10px;
  font-size: 14pt;
  line-height: 1.2em;
  text-align: left;
  margin-bottom: 0;
}
.masthead .container pre code {
  margin-left: auto;
  margin-right: auto;
}
pre {
  white-space: pre-wrap;
}
#readme pre {
  background-color: #efefef;
  border: solid 1px #d6d6d6;
  padding: 10px;
  border-radius: 4px;
}
#readme pre code {
  font-family: Courier, monospace;
}
#readme h1,
#readme h2,
#readme h3 {
  padding-top: 1rem;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
