extends ./layout.pug

block title
    title Composite reducer tool

block github
    a.nav-link.github(href='https://github.com/gtg092x/reducify',target="_blank")
        span.fa.fa-github
        | Github

block masthead
    h1.container
        span.text Put this in your pipe and reduce it

block scripts
    script.
        $('a[href="http://code.mediadrake.com/reducify"]').remove();
