extends ./layout.pug

block title
    title Reducify | Make reducers with less effort

block nav
    a.nav-link(href='#installation') Install
    a.nav-link(href='#usage') Usage
    a.nav-link(href='#reducers-made-three-ways') Reducers
    a.nav-link(href='#configuration-sugar') Configuration
    a.nav-link(href='#credits') Credits

block github
    a.nav-link.github(href='https://github.com/gtg092x/reducify',target="_blank")
        span.fa.fa-github
        | Github

block masthead
    h1.container
        span.mast-card
            span.text Less effort, more reducers
            pre
                code.
                    reducify({
                       "ADD": (state, action) => state + action.data,
                       "SUBTRACT": (state, action) => state - action.data
                    })
block scripts
    script.
        $('a[href="http://code.mediadrake.com/reducify"]').remove();
