doctype html
html(lang="en")
    head
        block title
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css",rel="stylesheet",integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd",crossorigin="anonymous")
        link(href="./ghpage.css",rel="stylesheet")
        script(src="https://use.fontawesome.com/9237579915.js")
        meta(charset="UTF-8")

    body
        block analytics
        div#root
            div.nav.nav-inline.navbar-light.bg-faded
                nav.container.navbar-nav
                    block nav
                        a.nav-link(href='#installation') Install
                        a.nav-link(href='#usage') Usage
                        a.nav-link(href='#native') Native
                        a.nav-link(href='#validation') Customization
                        a.nav-link(href='examples/web/') Examples
                    block github
            div.masthead
                block masthead
                div#example
            div.container#readme
                include:marked ./../README.md
        block example
            script(src="./examples/web/js/ghpage.js")
        script(src="https://code.jquery.com/jquery-2.2.4.min.js",integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=",crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js",integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7",crossorigin="anonymous")
        block scripts
